.btn-send{
    height: 40px;
    width: 150px;
    background-color: #97b9fc;
    color: black;
    margin-top: 10px;
    margin-left: 60px;
}

.btn-send:hover{
    background: #2026d2;
    color: white;
}

.toast-title{
    color: black;
    margin-bottom: 100px;
    margin-left: 100px;
    font-weight: bold;
}